
.flex-container{
    display: flex ;
    padding-left: 5%;
}

.h1{
  font-weight: 600;
  font-size:3vw;
}
.big-wrapper button i{
    color: white;
}
.btn-downloaad{
    border: 1px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    color: white;
    border-radius: 10px;
    margin-top: 15%;
    }
.find-out-more{
    margin-top: 10%;
    
}
.find-out-more a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 500;
}
.phoneDiv{
 /* position: relative; */
 /* left: 50%; */
}
.img{
    height:660px;
   
}
/* hovering secttion */
.draw-border {
    color: white;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: white;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn-downloaad {
    background: rgb(0,0,0);
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    overflow: visible;
  }
  .btn-downloaad:focus {
    outline: 2px dotted rgb(0,0,0);
  }
  /* find out more hovering */
  .find-out-more:hover{
    text-decoration: underline;
    
  }
  .find-out-more > .arrow-down:hover{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  /* advantagesstyling section the 3rd DIVS */
  .p{

  }
  /* div img styling */
  .div-img{
    height: 110px;
    width: 110px;
    margin-left: -50px;
    margin-top: -12px;
    align-items: flex-start;
  }
  /* div content styling */
  .flex-content{
    margin-top: 22px;
    margin-left: -23px;
  }
  /* box div styling */
  .border-div{
    border: 1px solid  #f3eded86;
  }
  .flex-img{

  }
.flex{
  display: flex ;
}
/* button styling */
.account-opening-button{
  padding: 4px 10px;
  background-color:#f3eded;
  color: rgb(114, 108, 108);
  border: 0pt;
  border-radius: 8px;
  font-weight: 600;
}
/* text styling */
.flex-content > h4{
  font-weight: 600;
  color: rgb(58, 56, 56);
}
.flex-content > p{
  color:#646464fa;
}
.advantages{
  font-weight: 600;
  color: rgba(44, 43, 43, 0.89);
}
.margin-top-div3{
  margin-top: 40px;
  border: 1px solid  #f3eded86;

}
.investment-text{
  font-weight: 600;
}
  /* media query section */

  /* for pc with a lower screen of 1227px */
  @media (max-width: 1237px){
    .h1{
  }

}
@media (max-width:850px){
  .box-div{
    height: 50px;
}
.h1{
    font-size: 5vw;
}
  }
 @media  (max-width: 770px){
  .margin-top-flex{
    margin-top: 40px;
  }
 }
